.cover {
  margin: 92px 0;
  max-width: 100%;
  min-height: 62.5vw;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.cover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .2s linear;
}

.cover:hover::before{
  background-color: #2a2c2f;
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    min-height: 740px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}